doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel='stylesheet', type='text/css', href='assets/css/main.css')
        link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
        script(src='assets/js/script.js')
        script(src='assets/js/typed.js')
        title Tom Ashworth
    body
        #bg
        section#home
            header
                .avatar(onclick="x()")
                    img(src='assets/img/Tom.png', width='100%')
                h1#title Tom Ashworth
                #typing
                    p#typed  
            nav#main-nav
                ul
                    li
                        a(href='http://home.tdashworth.uk') 
                            img(src='assets/img/icons-png/cloud.png')
                    li
                        a(href='http://blog.tdashworth.uk')
                            img(src='assets/img/icons-png/wp.png')
                    li
                        a(href='https://instagram.com/tdashworth')
                            img(src='assets/img/icons-png/instagram.png')
                    li
                        a(href='https://twitter.com/tdashworth')
                            img(src='assets/img/icons-png/twitter.png')
                    li
                        a(href='https://linkedin.com/in/tdashworth')
                            img(src='assets/img/icons-png/linkedin.png')
        section.page#about 
            header.full.main-header About
            article.stack
                header.sub-header Apprentice
                p
                    | Currently, I&#39;m an apprentice at Capgemini as a software developer.
            article.stack
                header.sub-header Developer
                p
                    | I enjoy solving problems with custom software solutions. Recently I wrote a LED controller for my phone using Python and Java. I also develop in C# and Javascript.
            article.stack
                header.sub-header Photographer
                p
                    | Owner of a Sony A5000, I am an avid Photographer enjoying both landscape and creative shooting as you can see from my 
                    a(href='https://instagram.com/tdashworth') Instagram profile.
            footer.full
                a.cta(href='mailto:tom@tdashworth.uk') Contact
                    
        //- section.page#support
        //-         header.full.main-header Technical Support
        //-         article.stack
        //-             header.sub-header Windows
        //-             p
        //-                 | As a user of Window 7 and 10, I am very familiar with the workings of the operating system. I can help you get started with your system and provide assistance with the setting up process. Along with this I can attempt to find a solution for that annoying error that won&#39;t go away.
        //-         article.stack
        //-             header.sub-header Networks
        //-             p
        //-                 | Setting up your home network may seem like a daunting task when you think how many devices need to be connected. I can set up your home network in minutes and manage to ensure reliability connection.
        //-         article.stack
        //-             header.sub-header Android
        //-             p
        //-                 | I am a dedicated fan to Google&#39;s Android OS as my past 4 mobiles have been Android. From setting up a device, advise about the device for you or general issues you are having, I&#39;m sure I can help you out.
                        
        //-         footer.full
        //-             a.cta(href='mailto:support@tdashworth.uk?subject=Technical%20Support%20Request') Contact
