#bg { position: fixed; height: 100%; width: 100%; top: 0; bottom: 0; color: rgba(255, 255, 255, 0.2); letter-spacing: 2px; line-height: 20px; padding: 5px; text-align: justify; text-justify: inter-word; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: default; }

#top { width: 100%; height: 100vh; position: relative; }

#top header { font-weight: bolder; position: absolute; top: 55%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; }

#top header .avatar { width: 200px; display: block; margin: 0 auto; transition: 0s; cursor: pointer; }

#top header .avatar img { margin: 0 auto; border: 3px solid white; border-radius: 50%; }

#top header h1 { font-size: 4em; text-align: center; margin: 0.3em 0; display: block; }

#top header #typing { margin: 0 auto; text-align: center; display: block; }

#top header p { font-size: 2em; display: inline-block; margin: 0; }

#top header .typed-cursor { font-size: 2em; color: darkmagenta; }

#top nav { height: 10vh; }

#top nav ul { height: 100%; max-width: 1000px; margin: 0 auto; padding: 20px; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; }

#top nav ul li { position: relative; display: inline-block; height: 100%; }

#top nav ul li a { text-decoration: none; }

#top nav ul li a img { height: 100%; }

#top #main-nav { left: 0; }

#top #main-nav p { left: 150%; }

#top .typed-cursor { opacity: 1; -webkit-animation: blink 0.7s infinite; -moz-animation: blink 0.7s infinite; animation: blink 0.7s infinite; }

@keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  to { opacity: 1; } }

@-webkit-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  to { opacity: 1; } }

@-moz-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  to { opacity: 1; } }

@media screen and (max-width: 500px) { #top header .avatar { width: 100px; }
  #top header h1 { font-size: 3em; }
  #top header p, #top header .typed-cursor { font-size: 1.5em; } }

@media (orientation: portrait) { #top nav ul li { width: 10vw; height: auto; }
  #top nav ul li a img { width: 100%; height: auto; } }
