body, html { background-color: black; color: white; margin: 0; font-family: sans-serif; font-family: 'Roboto'; height: 100vh; width: 100%; }

a { color: black; }

#bg { position: fixed; height: 100%; width: 100%; top: 0; bottom: 0; color: rgba(255, 255, 255, 0.2); letter-spacing: 2px; line-height: 20px; padding: 5px; text-align: justify; text-justify: inter-word; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: default; }

#home { width: 100%; height: 100vh; position: relative; }

#home header { font-weight: bolder; position: absolute; top: 55%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); z-index: 1; }

#home header .avatar { width: 200px; display: block; margin: 0 auto; -webkit-transition: 0s; -o-transition: 0s; transition: 0s; cursor: pointer; position: relative; }

#home header .avatar img { margin: 0 auto; border: 3px solid white; border-radius: 50%; }

#home header h1 { font-size: 4em; text-align: center; margin: 0.3em 0; display: block; }

#home header #typing { margin: 0 auto; text-align: center; display: block; }

#home header p { font-size: 2em; display: inline-block; margin: 0; }

#home header .typed-cursor { font-size: 2em; color: darkmagenta; position: relative; z-index: -1; }

#home nav { height: 7vh; }

#home nav ul { height: 100%; max-width: 600px; margin: 0 auto; padding: 20px; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }

#home nav ul li { position: relative; display: inline-block; width: 10%; }

#home nav ul li a { text-decoration: none; }

#home nav ul li a img { width: 100%; }

#home #main-nav { left: 0; }

#home #main-nav p { left: 150%; }

#home .typed-cursor { opacity: 1; -webkit-animation: blink 0.7s infinite; -moz-animation: blink 0.7s infinite; animation: blink 0.7s infinite; }

@keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  to { opacity: 1; } }

@-webkit-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  to { opacity: 1; } }

@-moz-keyframes blink { 0% { opacity: 1; }
  50% { opacity: 0; }
  to { opacity: 1; } }

@media (max-width: 700px), (max-height: 700px) { #home header .avatar { width: 150px; }
  #home header h1 { font-size: 3em; }
  #home header p, #home header .typed-cursor { font-size: 1.5em; } }

.page { width: 100%; min-height: 100vh; position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; overflow: hidden; }

.page .full { text-align: center; margin: 25px 0; width: 100%; }

.page .main-header { font-size: 3em; }

.page .sub-header { font-size: 1.5em; }

.page .base, .page .block, .page .stack { -webkit-transition: 1s; -o-transition: 1s; transition: 1s; max-width: 700px; width: 100%; padding: 15px 20px; margin: 10px 0px; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: white; color: black; -webkit-box-shadow: 0px 25px 20px -10px rgba(0, 0, 0, 0.5); box-shadow: 0px 25px 20px -10px rgba(0, 0, 0, 0.5); }

.page .block { overflow-x: auto; }

.page .block .input { width: 100%; height: 200px; margin-top: 10px; border: none; outline: none; resize: none; font-family: 'Roboto'; font-size: 1em !important; }

.page .stack { max-width: 600px; }

.page .stack:nth-child(2n) { margin-right: 100px; }

.page .stack:nth-child(2n+1) { margin-left: 100px; }

.page p { text-align: justify; }

.page .cta { color: white; width: auto; padding: 20px; float: left; margin: 0px; border: solid 2px white; text-decoration: none; position: relative; left: 50%; -webkit-transform: translateX(-50%); -ms-transform: translateX(-50%); transform: translateX(-50%); cursor: pointer; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: transparent; }

.page .cta:hover { background-color: white; color: black; }

@media (max-width: 700px) { .page .base, .page .block, .page .stack { margin: 1px 0px; }
  .page .stack { max-width: none; }
  .page .stack:nth-child(2n) { margin-right: 0px; }
  .page .stack:nth-child(2n+1) { margin-left: 0px; }
  .page .block aside { width: 100%; border: 0; }
  .page .masonry { -webkit-column-count: 1; column-count: 1; margin: 0px; }
  .page .masonry .item { margin: 1px 0px; }
  .page .masonry .image { display: none; } }

#about { background-color: darkmagenta; background-size: cover; }

#about .main-header { margin-top: 150px; }

#education .block { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-line-pack: stretch; align-content: stretch; }
